body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Estilos para el formulario de registro */
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 400px;
    margin: 10% auto;
    text-align: center;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
}

input[type="submit"] {
    background-color: #008080;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

input[type="submit"]:hover {
    background-color: #005555;
}

/* Paleta de colores */
body {
    background-color: #f2f2f2;
}

label {
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    background-color: #fff;
    color: #333;
}

input[type="submit"] {
    background-color: #008080;
    color: #fff;
}
.boton {
    background-color: #004d80;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
  }
  
  .boton:hover {
    background-color: #005555;
  }

  
/* Estilos para los mensajes de error */
.error {
    color: #f00;
    margin-bottom: 20px;
    text-align: center;
}

/* inmobiiaria - propiedades */

	/* Estilos para el encabezado */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

    .logo h1 {
        margin: 0;
        font-size: 24px;
    }

    .usuario {
        position: relative;
    }

    .usuario a {
        color: #fff;
        text-decoration: none;
        padding-right: 10px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #333;
        color: #fff;
        min-width: 100px;
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        padding: 10px;
        font-size: 16px;
    }

    .usuario.active .dropdown-content {
        display: block;
    }






